mixin buttonMixin(options)
  button&attributes(options.attributes)(class=options.classes, id=options.id, type='button', role='button', tabindex=options.tabindex, disabled=options.disabled)
    if options.iconLeft
      span.icon-left(class=options.iconLeft)
    span.text=options.text
    if options.iconRight
      span.icon-right(class=options.iconRight)

