li.dropdown-item(role='presentation', class=classes, id=id)
  a(role='menuitem', href='javascript:void(0);')
    if iconRight
      span.icon-right(class=iconRight)
    if iconLeft
      span.icon-left(class=iconLeft)
    span.text=text
