include ./button-mixin.jade

.dropdown(class=classes, id=id)
  +buttonMixin(button)
  ul.dropdown-menu(role='menu', aria-labeledby=button.id, class=classes, id=id)
    each item in menu.items
      != item.html
