li.dropdown-item(role='presentation', class=classes, id=id)
  a(role='menuitem')
    if iconLeft
      span.icon-left(class=iconLeft)
    span.text=text
    if iconRight
      span.icon-right(class=iconRight)

