li.dropdown-item(role='presentation', class=classes, id=id)
  a(role='menuitem')
    if iconLeft
      span.icon-left.glyphicon(class=iconLeft)
    span.text=text
    if iconRight
      span.icon-right.glyphicon(class=iconRight)

